body {
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  
  .hero{
    background:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 200;
    height: 300px;
  }

  .title{
    font-size: clamp(4rem, 10vw, 5rem);
    margin-bottom: 20px;
  }

  .subtitle{
    font-size: clamp(1.5rem, 2.5vw, 3rem); 
    
  }

  .card {
    margin-top: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 55px;
    max-width: 800px; 
    width: 40%; 
  }
  
  .image {
    width: 100%; 
    height: auto; 
    max-width: 400px; 
    margin-bottom:40px ;
    border: solid 1px #E885FF;
  }
  
  @media only screen and (max-width: 768px) {
    .card {
      width: 70%; 
    }
    .btn{
      font-size: 1px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .card {
      width: 90%;
    }
  }

  .main{
    background: #005c85;
    display: flex;
    justify-content: center;
  }

  .btn{
    border-radius: 60px;
    background: #E885FF;
    font-weight:600;
    font-size: 18px;
    color: #000;
    width: 170px;
    height: 45px;
    border: 0px;
    margin-bottom:40px ;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    padding:10px;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
  }

  .btn:hover {
    transform: scale(1.1);
  }

  .btnCont{
   width: 100%;
   justify-content: center;
   display: flex;
  }
  .bubble {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    width: 71%;
    background: #85D9FF;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    margin-bottom:30px ;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #85D9FF;
    border-right: 12px solid transparent;
    border-top: 12px solid #85D9FF;
    border-bottom: 20px solid transparent;
    left: 200px;
    bottom: -24px;
  }
  